<h1 style="text-align: center;"> {{ updateIndex>-1? "Edit Employee":"Register New Employee"}}</h1>
<div class="box" [formGroup]="form">
    <mat-card class="card">
        <div class="formCard">
            <mat-form-field>
                <input matInput placeholder="Full name" formControlName="fullName">
                <mat-error *ngIf="submitted && this.formControl.fullName?.errors?.required">This field is required
                </mat-error>
                 <mat-error *ngIf="submitted && this.formControl.fullName?.errors?.minlength">Length must be 2
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Position" formControlName="position">
                <mat-error *ngIf="submitted && this.formControl.position?.errors?.required">This field is required
                </mat-error>

            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="About" formControlName="about"></textarea>
                <mat-error *ngIf="submitted &&  this.formControl.about?.errors?.required">This field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Joining date"
                    formControlName="joiningDate" (focus)="picker.open()">
                <mat-error *ngIf="submitted && this.formControl.joiningDate?.errors?.required">This field is required
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="submit()">{{ updateIndex>-1? "Update":"Submit"}}</button>
        </div>
    </mat-card>
</div>

<div class="loading-indicator" *ngIf="loader">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>